    {{!-- <article class="post">
      <div class="title">
        <a href="{{post.post_url}}" target="_blank">{{post.title}}</a>
        <span>({{post.post_url}})</span>
      </div>
      <div class="meta">
        {{post.vote_count}} point(s) by {{post.user.username}} on
        {{post.created_at}}
        |
        <!--<a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>-->
      </div>
    </article> --}}

    <article class="post">
<div class="title">
  <a href="{{post_url}}" target="_blank">{{title}}</a>
  <span>({{format_url post_url}})</span>
</div>
<div class="meta">
  {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
  |
  {{!-- <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a> --}}
</div>
</article>