<ol class="post-list">
  <h1>Trending Products:</h1>
  <br />
  <div class="container">
    <div class="row">
      {{#each products}}
      {{!-- {{> post-info post }} --}}
      <div class="col">
        <div class="card mr-md-5">
          <div class="card-body ">
            <p class="card-text"><h5 class="text-center">{{product_name}}</h5></p>
          </div>
          <div class="card-body" style="background-image: url({{image}})"></div>
          {{!-- <img src={{image}} alt="Card image"> --}}
          <div class="card-body">
            <p class="card-text text-center">${{price}}</p>
          </div>
          <a href="#" data-name="{{product_name}}" data-price="{{price}}" class="add-to-cart btn btn-primary">Add to cart</a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

</ol>


{{!-- <script src="/javascript/homepage.js"></script> --}}