<div class="container-fluid">
    <div class="row">
        <div class="d-flex justify-content-around col-xs-6 col-lg-6 col-md-6">
{{#each products}}
<div class="mt-2 text-center">
    <img src="{{image}}" alt="Card image" class="prodImg"> <br />
    <h5>{{this.product_name}}</h5>
    ${{this.price}}<br>
    <a href="#" data-name="{{product_name}}" data-price="{{price}}" class="add-to-cart btn btn-primary">Add to cart</a>
</div>
{{/each}}
</div>
    </div>
</div>