<div class="container-fluid">
    <div>
        <select>
            {{#each products}}
            <option>{{category.category_name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="col-xs-6 col-lg-10 col-md-10">
        <div class="row mx-auto">
            <div class="d-flex flex-wrap justify-content-around">
                {{#each category}}
                <div class="p-2 border mt-2 text-center">
                    <img src="{{image}}" alt="Card image" class="prodImg"> <br />
                    <h5>{{this.product_name}}</h5>
                    ${{this.price}}<br>
                    <a href="#" data-name="{{product_name}}" data-price="{{price}}" class="add-to-cart btn btn-primary">Add to cart</a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>