<div class="navbar-nav mr-auto">
  <div class="nav-item active">
    <h1 class="nav-link text-center border-bottom">Profit Page</h1>
  </div>
  <div class="nav-item active">
    <h3 class="nav-link text-center" >Category Debt = (Items Sold)*(Item Cost) + (Number of Items in Inventory)*(Item Cost)</h3>
  </div>
  <div class="nav-item active">
    <h3 class="nav-link text-center">Category Income = (Items Sold)*(Item Price)</h3>
  </div>     
  <div class="nav-item active row">
    <h3 class="nav-link text-center row top-text border-bottom col-md-12" >Total Profit ($) = (Sum of Income in All Categories) - (Sum of Debt in All Categories) = 
      {{#if profitFlag}}
        <span class="badge badge-pill badge-success">{{profitTotal}}</span>
      {{else}}
        <span class="badge badge-pill badge-danger">{{profitTotal}}</span>
      {{/if}}
    </h3>
  </div> 
</div>

<table class="table">
  <thead>
    <tr>
      <th class="dark-mode-light-text" scope="col">Product Name </th>
      <th class="dark-mode-light-text" scope="col">Product Cost ($)</th>
      <th class="dark-mode-light-text" scope="col">Product Price ($)</th>
      <th class="dark-mode-light-text" scope="col"># Items In Inventory</th>
      <th class="dark-mode-light-text" scope="col"># Items Sold</th>
      {{!-- <th scope="col">Handle</th> --}}
    </tr>
  </thead>
  <tbody>
    {{#each objArray}}
    <tr>
      {{!-- <th scope="row">{{@index}}</th> --}}
      <td class="dark-mode-light-text">{{product}}</td>
      <td class="dark-mode-light-text">{{cost}}</td>
      <td class="dark-mode-light-text">{{price}}</td>
      <td class="dark-mode-light-text">{{num_invent}}</td>
      <td class="dark-mode-light-text">{{num_sold}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>