<h1>Searched For Products:</h1>
<br />
<div class="container">
  <div class="row">
    <div class="container-fluid">
    <div class="col-xs-6 col-lg-10 col-md-10">
        <div class="row mx-auto">
            <div class="d-flex flex-wrap justify-content-around">
                {{#each products}}
                <div class="p-2 dark mt-2 text-center">
                    <img src="{{image}}" alt="Card image" class="prodImg"> <br />
                    <h5 class="dark-mode-light-text">{{this.product_name}}</h5>
                    <p class="dark-mode-light-text">${{this.price}}</p><br>
                    <a href="#" data-name="{{product_name}}" data-price="{{price}}" class="add-to-cart btn btn-primary">Add to cart</a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
  </div>
</div>
